.space-margin{
    margin-top: 20px;
}

td, th {
    border: 1px solid black;
    font-weight: bold;
    font-Size: 15px;
    text-align: center;
}

th {
    background-color:  #293a43;
    color: aliceblue;
    font-Size: 15px;
    font-weight: bold;
    text-align: center;
}
.tblclass{
    margin-left: -0.25rem !important;
}
