<div class="row">
  <div class="col-md-12">
    <h2>Payment Verification List</h2>
  </div>
</div>
<div class="card p-12">
  <div class="card-body">
    <div class="row">
      <div class="col-md-12">
        <div class="alert alert-danger" role="alert" *ngIf="error">
          {{error}}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <label>Exam Name</label>
        <select name="exam"  class="custom-select" [(ngModel)]="examid">
          <option [ngValue]="undefined" disabled selected> Please select Exam</option>
          <option *ngFor="let e of examlist;" value={{e._id}}>{{e.exam_name}}</option>

        </select>
      </div>

      <div class="col-md-4">
        <label>Select Payment Status</label>
        <select name="payment" class="custom-select" [(ngModel)]="status">
          <option [ngValue]="undefined" disabled selected> Please select payment Status</option>
          <option *ngFor="let c of statusResult" [ngValue]="c">{{c.name}}</option>
        </select>
      </div>
      <div class="col-md-4 space-margin">
        <button type="search" class="btn btn-success" (click)="onSearch()">&nbsp;Search</button>
      </div>

    </div>

    <div class="row space-margin" *ngIf="searchResult && searchResult.length == 0">
      <div class="col-md-12">
        No Records Found
      </div>
    </div>
    <div class="row space-margin" *ngIf="searchResult && searchResult.length > 0">
      <div class="col-md-12">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">Candidate Name</th>
              <th scope="col">Email</th>
              <th scope="col">Status</th>
              <th>Action</th>
            </tr>
          </thead>
          <tr *ngFor="let s of searchResult">
            <td>{{s.userdetail.title.name}} {{s.userdetail.firstname}} {{s.userdetail.middlename}}
              {{s.userdetail.lastname}}</td>
              <td>{{s.userdetail.emailid}}</td>
            <td>{{s.statuscode}}</td>
            <td>
              <button type="button" title="Verify" 
                    [ngbTooltip]="Verify" class="btn btn-danger btn-xs"
                 (click)="onVerify(s)">Verify</button>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
<div class="row" *ngIf="searchResult && searchResult.length > 25">
  <div class="col-md-12">
    <app-pagination [(currentPage)]="currentPage" [pageSize]="pageSize" [totalRecords]="statusCount"
      (pageChanged)="fetchStatusData($event)"></app-pagination>
  </div>
</div>
