<div class="row">

    <div class="col-md-12">
        <div class="card">
            <div class="card-body">

                <app-q-objective *ngIf="question.question_type == 'OBQ' " [question]="question"></app-q-objective>
                <app-q-multi-choice *ngIf="question.question_type == 'MCQ' " [question]="question"></app-q-multi-choice>
                <app-q-match-pair *ngIf="question.question_type == 'MTP' " [question]="question"></app-q-match-pair>
                <app-q-subjective *ngIf="question.question_type == 'SUB' " [question]="question"></app-q-subjective>
                <app-q-casetype *ngIf="question.question_type == 'CSQ' " [question]="question"></app-q-casetype>
                <div *ngIf="!isValidQuestionType" style="color:red;">

                    <h3>We do not support this question type .. {{question.question_type}}</h3>
                </div>
            </div>
        </div>

    </div>

</div>