<div class="row">
    <div class="col-md-3">
        <h3 *ngIf="questions"> Total Questions Rows: {{questions.length}} </h3>
    </div>

     <div class="col-md-3">
        <h3 *ngIf="questions && user.record?.Role !='Editor'"> Subject: {{user.record?.Subject}} </h3>
    </div>
   
    <!-- <div class="col-md-3">
        <select name="batch" class="form-control" (change)="onLanguageChange($event)">
            <option value="" disabled selected>Select Language for QB download</option>
            <option [value]="batch.code" *ngFor="let batch of languages">{{batch.code}}</option>
          </select>
    </div>    -->
    <div class="col-md-3" *ngIf="questions && user.record?.Role =='Editor'">
        <button class="btn btn-success" type="button" (click)="generateQuestionBank()">
            <i class="fa fa-ticket"></i> Generate Question Bank
          </button>
    </div>
</div>

<div class="row" *ngFor="let ques of getQuestions()">
    
        <div class="col-md-12" *ngIf="ques">
            <app-q-question-container [qbid]="qbid" [questionId]="ques"></app-q-question-container>
        </div>
</div>

&nbsp;&nbsp;

<ngb-pagination
*ngIf="collectionSize > pageSize"
  [collectionSize]="collectionSize"
  [(page)]="page"
  [pageSize]="pageSize"
  [maxSize]="5"
  [rotate]="true"
  [ellipses]="false"
  [boundaryLinks]="true"
>
</ngb-pagination>

<div class="row" *ngIf="collectionSize > pageSize">
    <div class="col-md-12">
    <h4 style="color: red;">You should review all pages ({{ getTotalPages()}}) before you send to further process.</h4>
    </div>
</div>

<div class="row" *ngIf="collectionSize == 0 && user.record?.Role =='Reviewer'">
    <div class="col-md-12">
    <h4 style="color: red;">Questions not assign for Reviewing</h4>
    </div>
</div>

<div class="row" *ngIf="collectionSize > 0">
    <div class="col-md-3" style="color: green;" *ngIf="user.record?.Role=='Author'">
        <button type="button" class="btn btn-outline-primary" (click)="onReviewQuestion('Reviewing', 'All')">All Questions Send to Reviewer</button>
    </div>
     <div class="col-md-3" style="color: green;" *ngIf="user.record?.Role=='Reviewer'">
        <button type="button" class="btn btn-outline-primary" (click)="onReviewQuestion('Reviewed', 'All')">All Questions Send to Editor</button>
    </div>
</div>

