<div class="row" *ngFor="let opt of options">
        <div class="col-md-12">
            
            
                <div class="radio">
                        <label>
                            
                              
                                <input type="checkbox" name="{{opt._id}}" >

                                <app-q-alternate [question]="question" [option]="opt"></app-q-alternate>
            
                            
                        </label>
                </div>
            
        </div>
    </div>
    