.space-margin{
    margin-top : 15px;
}
#header-fixed {
    position: fixed;
    top: 0px; display:none;
    background-color:white;
}


  table {
    display: block !important;
    overflow-x: auto !important;
    white-space: nowrap !important;
  }
  