<div class="row">
<!-- <p *ngIf="user?.record?.Role == 'Reviewer'" -->
    <div class="col-md-3">
        <div class="card">
            <div class="card-body">  
                <b>Sr No : </b> {{question.sn}} <br />
                <b>Topic Name : </b> {{question.topic}} <br />
                <b>Difficult Level : </b> {{question.difficulty}} <br />
                <b>Marks : </b> {{question.marks}} <br />
                <b>Client Question ID : </b> {{question.questionid}} <br />
                <b> Status : </b> <span [ngStyle]="{ 
  color: question.status === 'Reviewed' ? 'green' :
         question.status === 'Reviewing' ? '#ffc107' :
         question.status === 'Updated' ? 'Blue' :
         question.status === 'Incorrect' ? 'red' : 'black'
}">{{question.status}}</span> <br />
                <button *ngIf="user?.record?.Role == 'Author'" [disabled]="question.status === 'Reviewed'" type="button" class="btn btn-outline-primary" (click)="onReviewQuestion('Reviewing', question._id)">Send to Reviewer</button>&nbsp;
                <button *ngIf="user?.record?.Role == 'Author'" [disabled]="question.status === 'Reviewed'|| question.status === 'Reviewing'" type="button" class="btn btn-outline-primary" (click)="updateQuestions(question)">Update</button>  
                <button *ngIf="user?.record?.Role == 'Reviewer'" [disabled]="question.status === 'Reviewed'" type="button" class="btn btn-outline-primary" (click)="onReviewQuestion('Incorrect',question._id)">Send to Author</button>  &nbsp;
                <button *ngIf="user?.record?.Role == 'Reviewer'" [disabled]="question.status === 'Incorrect' || question.status === 'Reviewed'" type="button" class="btn btn-outline-primary" (click)="onReviewQuestion('Reviewed', question._id)">Send to Editor</button> 
            </div>
        </div>
    </div>
    <div class="col-md-9">
            <div class="card">
                <div class="card-body">  

                    <app-q-objective *ngIf="question.question_type == 'OBQ' " [question]="question"></app-q-objective>
                    <app-q-multi-choice *ngIf="question.question_type == 'MCQ' " [question]="question"></app-q-multi-choice>
                    <app-q-match-pair *ngIf="question.question_type == 'MTP' " [question]="question"></app-q-match-pair>
                    <app-q-subjective *ngIf="question.question_type == 'SUB' " [question]="question"></app-q-subjective>
                    <app-q-casetype *ngIf="question.question_type == 'CSQ' " [question]="question"></app-q-casetype>


                    <!-- <div *ngIf="!isValidQuestionType" style="color:red;">
                        <h3>We do not support this question type .. {{question.question_type}}</h3>
                    </div> -->
            </div>
    </div>

    </div>

</div>
