
.action-btn button{
    width: 50px;
    margin: 10px;
}
.action-ul{
    list-style: none;
    margin-top: 50px;
}
.lang-h {
    height: 300px;
    max-height: 300px;
}
.lang-container {
    border: 2px solid gray;
    
     
}

.lang-ul {
    list-style: none;
    margin-top: 10px;
}

.lang-ul li {
   
    padding:10px;
    margin-top:5px;
    width:90%;
    cursor: pointer;
    color:black;
}

.lang-ul li:hover {
    background-color: #20a8d8;
    color:white;
}
 

.lang-ul li.active {
     
    background-color: #20a8d8;
    color:white;
}

.scrollbar-menu{
   
    overflow: scroll;
}
