<div class="row justify-content-center">


  <div class="col-md-6">
    <div class="card ">
      <div class="card-body">
        <div class="row">
          <div class="col-md-12">
            <h2>Change Password</h2>
          </div>
        </div>
        <div class="row p-2 Valid help-block text-danger space-margin " *ngIf="errorList.length > 0">
          <div class="col-md-12" *ngFor="let error of errorList;">
            <br> {{error}}
          </div>
        </div>

        <div class="row p-2">
          <div class="col-md-12">
            <label for="userid">Registration ID<app-required></app-required></label>
            <input type="text" class="form-control" id="userid" [(ngModel)]="emailId" readonly>
          </div>
        </div>
        <div class="row p-2">
          <div class="col-md-12">
            <label for="password"> Old Password<app-required></app-required></label>
            <input type="text" class="form-control" id="password" type="password" [(ngModel)]="oldPassword" required
              autocomplete="nope">
          </div>
        </div>
        <div class="row p-2">
          <div class="col-md-12">
            <label for="newpassword">New Password<app-required></app-required></label>
            <input type="text" class="form-control" id="newpassword" type="password" [(ngModel)]="newPassword" required
              autocomplete="nope">
          </div>
        </div>
        <div class="row p-2">
          <div class="col-md-12">
            <label for="confirmpassword">Confirm Password<app-required></app-required></label>
            <input type="text" class="form-control" id="confirmpassword" type="password" [(ngModel)]="confirmPassword"
              required autocomplete="nope">
          </div>
        </div>
        <div class="help-block text-success" *ngIf="success_message">
          <div class="col-12">
            {{success_message}}
          </div>
        </div>
        <div *ngIf="!success_message" class="row p-2">
          <div class="col-4"></div>
          <div class="col-3">
            <button class="btn btn-primary" type="button" (click)="onSubmit()">Submit</button>
          </div>
          <div class="col-3">
            <button class="btn btn-danger" (click)="goToDashBorad()" type="button">Cancel</button>
          </div>
        </div>
        <!-- <div *ngIf="success_message" class="row p-2">
          <div class="col-6">
            <button class="btn btn-link px-0" type="button" (click)="goToDashBorad()">Go To Dashboard</button>

          </div>
        </div> -->
      </div>
    </div>
  </div>


</div>