<div class="modal-header">
  <h4 class="modal-title">{{userData._id ? 'Edit User' : 'Add User'}}</h4>
</div>
<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-md-12">
          <div class="row p-2">
              <div *ngIf="error">
                  <label> <span style="color:red">{{error}}</span></label>
              </div>
          </div>
        <div class="row">
           <div class="col-md-4 ">
            <div class="form-group">
              <label for="eventcode">Name<span style="color:red">*</span></label>
              <input type="text" placeholder="Please enter the Name" [(ngModel)]="userData.Name" class="form-control"  autocomplete="off">
            </div>
          </div>
          <div class="col-md-4 ">
            <div class="form-group">
              <label for="eventcode">Email ID<span style="color:red">*</span></label>
              <input type="text" placeholder="Please enter the Email ID" [(ngModel)]="userData.Email" class="form-control"  [readonly]="userData._id" autocomplete="off">
            </div>
          </div>
           <div class="col-md-4">
            <div class="form-group">
              <label for="eventcode">Phone Number<span style="color:red">*</span></label>
              <input type="text" placeholder="Please enter the Phone Number" maxlength="10" (keypress)="isNumber($event)" [(ngModel)]="userData.Phone" class="form-control" autocomplete="off">
            </div>
          </div>
        </div>
        <div class="row">
         
          <div class="col-md-4">
           <div class="form-group">
            <label for="role">Role <span style="color:red">*</span></label>

            <select name="role" class="custom-select form-control" [(ngModel)]="userData.Role" (change)="onChangeRole($event)">
              <option [ngValue]="''" disabled> Please Select Role </option>
              <option [ngValue]="'superAdmin'" *ngIf="user?.record?.Role =='superAdmin'">superAdmin</option>
              <option [ngValue]="'Editor'" *ngIf="user?.record?.Role =='Editor'">Editor</option>
              <option [ngValue]="'Reviewer'" *ngIf="user?.record?.Role =='Editor'">Reviewer</option>
              <option [ngValue]="'Author'" *ngIf="user?.record?.Role =='Editor'">Author</option>
            </select>

          </div>
          </div>

           <div class="col-md-4" *ngIf="this.checkRole =='Author' || this.checkRole =='Reviewer'">
           <div class="form-group">
            <label for="role">Exam Name <span style="color:red">*</span></label>

          <select name="exam" class="custom-select"  [(ngModel)]="userData.Exam">
            <option [ngValue]="''" disabled selected>Select Exam Name</option>
            <option *ngFor="let exam of examArr" value="{{ exam.Name }}">
              {{ exam.Name }}
            </option>
          </select>

          </div>
          </div>

        
           <div class="col-md-4" *ngIf="this.checkRole =='Author' || this.checkRole =='Reviewer'">
           <div class="form-group">
            <label for="role">Topic <span style="color:red">*</span></label>

            <select name="subject" class="custom-select"  [(ngModel)]="userData.Subject">
              <option [ngValue]="''" disabled selected>Select Topic</option>
              <option *ngFor="let sub of subjectArr" value="{{sub.Code }}">
                {{ sub.Name}}
              </option>
            </select>

          </div>
          </div>
        </div>

        <div class="row">

           
           <div class="col-md-4" *ngIf="userData?._id">
           <div class="form-group">

             <select name="status" class="custom-select form-control" [(ngModel)]="userData.Status" (change)="onChangeRole($event)">
              <option [ngValue]="''" disabled> Please Select Role </option>
              <option [ngValue]= true>Active</option>
              <option [ngValue]= false>DeActive</option>
            
            </select>
            <!-- <label for="role">Language <span style="color:red">*</span></label>

            <select name="language" class="custom-select"  [(ngModel)]="userData.Language">
              <option [ngValue]="''" disabled selected>Select Language</option>
              <option *ngFor="let lan of lanDataArr" value="{{ lan.Name }}">
                {{ lan.Name }}
              </option>
            </select> -->

          </div>
          </div>

          <!-- <div class="col-md-4" *ngIf="this.checkRole =='Author' || this.checkRole =='Reviewer'">
            <div class="form-group">
              <label for="eventcode">Start Question Number<span style="color:red">*</span></label>
              <input type="number" placeholder="Please enter start question number" [(ngModel)]="userData.startQbNo" class="form-control"  autocomplete="off">
            </div>
          </div>

          <div class="col-md-4" *ngIf="this.checkRole =='Author' || this.checkRole =='Reviewer'">
            <div class="form-group">
              <label for="eventcode">End Question Number<span style="color:red">*</span></label>
              <input type="number" placeholder="Please enter end question number" [(ngModel)]="userData.endQbNo" class="form-control"  autocomplete="off">
            </div>
          </div> -->

        </div>

        
       
        <div class="row">

         <div class="col-md-6 text-right" *ngIf="userData?._id">
            <button type="reset" class="btn btn-primary" (click)="onUpdate()"><i class="far fa-save"></i>&nbsp;Update</button>
          </div>
          <div class="col-md-6 text-right" *ngIf="!userData?._id">
            <button type="reset" class="btn btn-primary" (click)="onSave()"><i class="far fa-save"></i>&nbsp;Save</button>
          </div>

          <div class="col-md-6">
            <button type="button" class="btn btn-secondary" (click)="onClose()"><i class="fa fa-window-close"></i>&nbsp;Close</button>
          </div>

        </div>
      </div>
    </div>
  </div>
  <div class="row">
      <ngb-alert *ngIf="successMessage" type="success" (close)="successMessage = null">{{ successMessage }}
    
      </ngb-alert>
      <ngb-alert *ngIf="errorMessage" type="danger" (close)="errorMessage = null">{{ errorMessage }}
    
      </ngb-alert>
    </div>
</div>
<div class="space-margin"></div>
<div class="row p-2">
  <app-alert [sender]="sender"></app-alert>
</div>
