.space-margin{
    margin-top: 10px;
}
.morespace-margin{
    margin-top: 170px;
}
.top-margin{
    margin-top: 10px;
}
.bottom-margin{
    margin-bottom: 20px;
}

.font-larger{
    font-size: larger;
}



.space-margin-left-negative{
    margin-left: -15px !important;
}

.space-margin-rigth{
    margin-left: 1.5rem !important;
}