

<div class="modal-header">
  <h4 class="modal-title">Update Question :  {{this.questionUpdate.questionid}}</h4>
  <button type="button" class="close" aria-label="Close" (click)="close()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>


<div class="modal-body">
  <div class="col-md-12 ">
     

<div class="row">
  <div class="col-md-12">
    <div class="card"> 

      <h5>Question : {{this.questionUpdate.questionid}}</h5>
     <!-- <p style="color: red;"> Without Changes Dont press update button</p> -->
      <div class="card-body" *ngIf="this.questionUpdate.qtype=='text'">
        <app-template-editor 
            [elementId]="questionUpdate._id" 
            [height]="250"
            (onEditorContentChange)="openForQuestion($event,'question')"
            [(value)]="questionUpdate.question"></app-template-editor>
            <button class="btn btn-primary" (click)="updateQuestionBank()">UPDATE</button>
    </div>

     <div class="card-body" *ngIf="this.questionUpdate.qtype=='image'">
      <div class="col-md-6">
        <span style="color:green">⚠️ File size must be less than 20 KB!</span>
          
        <p class="btn-sm py-5 px-1 text-center" style="background-color: grey" [ngStyle]="{ cursor: applicationSubmitted ? 'inherit' : 'pointer' }" (click)="file.click()">
            Upload Question Image Png Only </p>
        <input type="file"  #file class="d-none" (change)="onFileSelected($event,questionUpdate,'question')" accept=".png"/>
      </div>

       <div class="col-md-6"> 
        <img src="{{questionUpdate.question}}" >
      </div>
      
     </div>

    <h5>Option : 1</h5>
    <div class="card-body" *ngIf="this.questionUpdate.atype1=='text'">
      <app-template-editor 
          [elementId]="alt1" 
          [height]="200"
          (onEditorContentChange)="openForQuestion($event,'alternative1')"
          [(value)]="alt1"></app-template-editor>
          <button class="btn btn-primary" (click)="updateAlternative1()">UPDATE</button>
   </div>

   <div class="card-body" *ngIf="this.questionUpdate.atype1=='image'">
      <div class="col-md-6">
        <span style="color:green">⚠️ File size must be less than 20 KB!</span>
          
        <p class="btn-sm py-5 px-1 text-center" style="background-color: grey" [ngStyle]="{ cursor: applicationSubmitted ? 'inherit' : 'pointer' }" (click)="file.click()">
            Upload Alternative1 Image Png Only </p>
        <input type="file"  #file class="d-none" (change)="onFileSelected($event,questionUpdate,'alternative1')" accept=".png"/>
      </div>

       <div class="col-md-6"> 
        <img src="{{questionUpdate.alternative1}}" >
      </div>
      
    </div>

  <h5>Option : 2</h5>
  <div class="card-body" *ngIf="this.questionUpdate.atype2=='text'">
    <app-template-editor 
        [elementId]="alt2" 
        [height]="200"
        (onEditorContentChange)="openForQuestion($event,'alternative2')"
        [(value)]="alt2"></app-template-editor>
        <button class="btn btn-primary" (click)="updateAlternative2()">UPDATE</button>
</div>
<div class="card-body" *ngIf="this.questionUpdate.atype2=='image'">
  <div class="col-md-6">
    <span style="color:green">⚠️ File size must be less than 20 KB!</span>
      
    <p class="btn-sm py-5 px-1 text-center" style="background-color: grey" [ngStyle]="{ cursor: applicationSubmitted ? 'inherit' : 'pointer' }" (click)="file.click()">
        Upload Alternative2 Image Png Only </p>
    <input type="file"  #file class="d-none" (change)="onFileSelected($event,questionUpdate,'alternative2')" accept=".png"/>
  </div>

    <div class="col-md-6"> 
    <img src="{{questionUpdate.alternative2}}" >
  </div>
  
</div>

<h5>Option : 3</h5>
<div class="card-body" *ngIf="this.questionUpdate.atype3=='text'">
  <app-template-editor 
      [elementId]="alt3" 
      [height]="200"
      (onEditorContentChange)="openForQuestion($event,'alternative3')"
      [(value)]="alt3"></app-template-editor>
      <button class="btn btn-primary" (click)="updateAlternative3()">UPDATE</button>
</div>

<div class="card-body" *ngIf="this.questionUpdate.atype3=='image'">
  <div class="col-md-6">
    <span style="color:green">⚠️ File size must be less than 20 KB!</span>
      
    <p class="btn-sm py-5 px-1 text-center" style="background-color: grey" [ngStyle]="{ cursor: applicationSubmitted ? 'inherit' : 'pointer' }" (click)="file.click()">
        Upload Alternative3 Image Png Only </p>
    <input type="file"  #file class="d-none" (change)="onFileSelected($event,questionUpdate,'alternative3')" accept=".png"/>
  </div>

    <div class="col-md-6"> 
    <img src="{{questionUpdate.alternative3}}" >
  </div>
  
</div>

<h5>Option : 4</h5>
<div class="card-body" *ngIf="this.questionUpdate.atype4=='text'">
  <app-template-editor 
      [elementId]="alt4" 
      [height]="200"
      (onEditorContentChange)="openForQuestion($event,'alternative4')"
      [(value)]="alt4"></app-template-editor>
      <button class="btn btn-primary" (click)="updateAlternative4()">UPDATE</button>
</div>

<div class="card-body" *ngIf="this.questionUpdate.atype4=='image'">
  <div class="col-md-6">
    <span style="color:green">⚠️ File size must be less than 20 KB!</span>
      
    <p class="btn-sm py-5 px-1 text-center" style="background-color: grey" [ngStyle]="{ cursor: applicationSubmitted ? 'inherit' : 'pointer' }" (click)="file.click()">
        Upload Alternative4 Image Png Only </p>
    <input type="file"  #file class="d-none" (change)="onFileSelected($event,questionUpdate,'alternative4')" accept=".png"/>
  </div>

    <div class="col-md-6"> 
    <img src="{{questionUpdate.alternative4}}" >
  </div>
  
</div>

</div>
</div>
</div>

<!-- <div class="row">
  <div class="col-md-3">

  </div>
  <div class="col-md-6">
    <button class="btn btn-primary" (click)="updateQuestionBank()">Save</button>
  </div>

  <div class="col-md-3">

  </div>
</div> -->

</div>
</div> 
