.dropzone {
    width: 100px;
    height: 100px;
    border: 2px dashed blue;
    display: flex;
    align-items: center;
    justify-content: center;
}


.space-margin{
    margin-top: 20px;
   
}

 