<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body text-center">
                <h3>Exam Payment Verification</h3>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
              <h3>Candidate Info</h3>
              <div *ngIf="profileResult">
                  <div class="row">
                      <div class="col-md-4">
                        {{profileResult.firstname + ' ' + profileResult.lastname}}
                      </div>
                      <div class="col-md-4">
                        {{profileResult.emailid}}
                      </div>
                      <div class="col-md-4">
                        {{profileResult.mobilenumber}}
                      </div>
                  </div>

                 
              </div>

              <div *ngIf="application">
                <div class="row">
                    <div class="col-md-4">
                     UserID: {{application.user_id}}
                    </div>
                    <div class="col-md-4">
                     ExamID: {{application.user_exam_id}}
                    </div>
                     
                </div>

               
            </div>

              

            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h3>Exam Info</h3>
                <div class="row" *ngIf="exam">
                    <div class="col-md-4">
                        {{exam.exam_name}}
                        </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h3>Payment Info</h3>
                <div *ngIf="orderInfo">
                    <div class="row">
                        <div class="col-md-4">
                            Amount: {{orderInfo.exam_fee}}
                        </div>
                        <div class="col-md-4">
                          
                            Status: 
                          
                            <i class="fas fa-check" style="color:green" *ngIf="orderInfo.payment_status == 'authorized'"></i>
                            <i class="fas fa-question" style="color:red" *ngIf="orderInfo.payment_status != 'authorized'"></i>
                            {{orderInfo.payment_status}}
                        </div>
                        <div class="col-md-4">
                            Method: 
                            <span *ngIf="orderInfo.request && orderInfo.request.pg_response">
                                {{orderInfo.request.pg_response.method}}
                            </span>
                           
                        </div>
                    </div>
                    <div class="row" style="margin-top: 20px;">
                        <div class="col-md-4">
                            Date: 
                            <span *ngIf="orderInfo.request && orderInfo.request.pg_response">
                                {{getDate (orderInfo.request.pg_response.created_at)}}
                            </span>
                           
                        </div>
                        <div class="col-md-4">
                            Fee rule: 
                            <span *ngIf="orderInfo.fee_rule && orderInfo.fee_rule._id">
                               Matched with exam cost info.
                            </span>
                            <span *ngIf="orderInfo.fee_rule && !orderInfo.fee_rule._id">
                               {{orderInfo.exam_fee_reason}}
                            </span>

                           
                        </div>

                        <div class="col-md-4">
                            TX Number: 
                            <span *ngIf="orderInfo.request && orderInfo.request.pg_response && orderInfo.request.pg_response.acquirer_data">
                                {{orderInfo.request.pg_response.acquirer_data.upi_transaction_id}} <br />
                                RRN: {{orderInfo.request.pg_response.acquirer_data.rrn}} <br />
                                Auth Code: {{orderInfo.request.pg_response.acquirer_data.auth_code}}

                                <div *ngFor="let x of transactions">
                                   {{x.name}} => {{x.value}}
                                </div>
                                <br/>
                                Payment ID : {{orderInfo.request.pg_response.id}}

                            </span>
                            

                           
                        </div>
                    </div>

                    <div class="row" style="margin-top: 20px;">
                        <div class="col-md-3">
                            <textarea  placeholder="exception reason" 
                                            [(ngModel)]="exception_reason" class="md-textarea form-control"
                            rows="3"></textarea>
                        </div>

                        <div class="col-md-3">
                            TraxID:
                            <input type="text" class="form-control" placeholder="e.g. 1262364"  [(ngModel)]="exception_txid">
                        </div>

                        <div class="col-md-3">
                            Method:
                            <input type="text" class="form-control" placeholder="e.g. CASH"  [(ngModel)]="exception_method">
                        </div>

                        <div class="col-md-3">
                            Tx Date: (must be in YYYY-MM-DD HH:mm:ss format e.g. 2021-03-31 16:15:27)
                            <input type="text" class="form-control" placeholder="e.g. 2021-03-31 16:15:27"  [(ngModel)]="exception_txdate">
                        </div>



                        <div class="col-md-3">
                            <div class="col-md-6"> <button class="btn btn-danger" 
                                (click)="addExceptionAccept(orderInfo)"> Authorize/Accept Payment</button></div>
                        </div>

 



                    </div>



                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h3>Action:</h3>
                Current Status: {{currentStatus}}

                <div class="row" style="margin-top: 20px;">
                    <div class="col-md-6">
                        Approval notes:
                        <textarea   placeholder="approval notes" [(ngModel)]="approval_notes" class="md-textarea form-control"
                        rows="3"></textarea>
                        <br />
                        <button class="btn btn-primary" (click)="approve()"> Approve</button>
                    </div>

                 
                    <div class="col-md-6">
                        Rejection reason:
                        <textarea  placeholder="rejection reason" [(ngModel)]="reject_reason" class="md-textarea form-control"
                        rows="3"></textarea>
                        <br />
                        <div class="row">
                            <div class="col-md-6"> <button class="btn btn-danger" (click)="reject()"> Reject</button></div>
                            <div class="col-md-6 text-right"> <button class="btn btn-info " (click)="closeThis()"> Cancel</button></div>
                        </div> 
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




