 
<div class="row bg-white">
  <div class="col-md-4 rm-v-c py-2" style="color:#007bff;">
     Welcome, {{ user?.record?.Email }} ({{ user?.record?.Role }})
  </div>
  <div class="col-md-5 rm-v-c  py-2" style="color:#007bff;">
  <h3> Content Authorization Management System (CAMS)</h3>
  </div>
  <div class="col-md-2 rm-v-c py-2">
  <button class="btn btn-outline-primary" (click)="changePassword()">
    <i class="fa fa-key"></i> Change Password
  </button>
       <!-- Welcome {{user?.record?.Email}} ({{user?.record?.Role}}) -->
  </div>
  <div class="col-md-1 rm-v-c py-2"> 
   
    <div class="btn btn-outline-danger"
     (click)="logout()"><i class="fa-sign-out-alt"></i> Logout</div>
  </div>
</div> 