 
<div class="row bg-white">
  <div class="col-md-3">
   <!-- RICHMIND-LOGO -->
    <!-- <img width="200px" [attr.src]="logo"> -->
    <!-- <img [attr.src]="logoUrl" height="75" width="200px" class="rm-banner">  -->
  </div>
  <div class="col-md-6 rm-v-c rm-portal">
   Content Authorization Management System (CAMS)
  </div>
  <div class="col-md-1 rm-v-c">
       <!-- Welcome {{user?.record?.Email}} ({{user?.record?.Role}}) -->
  </div>
  <div class="col-md-2 rm-v-c"> 
   
    <div class="logout_link"
     (click)="logout()"><i class="fa fa-lock"></i> Logout</div>
  </div>
</div> 