.rm-header {
    position:fixed; 
}

.logout_link {
    color:red;
    cursor: pointer;

}

.rm-v-c{
    
        display: flex;
        align-items: center;
        justify-content: center;
      
      
}

.rm-portal {
    font-size: 1.5rem;
    font-weight: bold;
}